* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: burlywood;
    /*color: var(--color-secundaria);*/
}
.header {
    background-color: bisque;
}
.main{
    background-color: brown;
}
.izquierda {
    background-color: blueviolet;
}
.derecha {
    background-color: green;
}